.profpic {
  height:500;
  }
  nav {
  text-align:center;
  }
  nav p {
    display:inline;
  }
main{
  position:relative;
}
}
section {
  position:absolute;
 top:1000px;
  float:left
  width:50%;
}
footer {
  clear:both;
  widht:100%;
  background-color: lightblue;
  height:100px;
}
.fun {
  clear:both;
}
}
