.profpic {
  height:500;
  }
  nav {
  text-align:center;
  background-color:rgb(238,130,238);
  }
  nav p {
    display:inline;
  }
  section{
    display:inline;
  }
  }
#a {
  width:50%;
}
#b {
  width:50%;
}

footer {
  clear:both;
  widht:100%;
  background-color: lightblue;
  height:100px;
}
.fun {
  clear:both;
}
}
