nav {
  position:fixed;
  }
  nav p {
    display:inline;
  }
main {
  position:relative;
  height:500;
}
section {
  position:absolute;
  top:50px;
  float:left
  width:50%;
}
footer {
  clear:both;
  widht:100%;
  background-color: lightblue;
  height:100px;
}
