
  .top {
    background-color:red;
  }
  .low {
    background-color:gray;
  }
  .med {
    background-color:orange;
  }
  .done{
    text-decoration:line-through;
  }
  .b1 {
    background-color: rgb(135,206,250);
  }



