<html>
<head>
<style>
  .top {
    background-color:blue;
  }
  .low {
    background-color:gray;
  }
  .med {
    background-color:orange;
  }
  .done{
    text-decoration:line-through;
  }
  .b1{
    background-color:green;
  }
</style>


</head>















</html>
