
  .top {
   color:red;
  }
  .low {
    background-color:gray;
  }
  .med {
    background-color:orange;
  }
  .done{
    text-decoration:line-through;
    color:black;
  }
  .b1 {
    background-color: rgb(135,206,250);
  }
  .img {
    border: 25px solid blue;
  }



