.High {
  color: red;
}
 .Medium {
   color: orange;
 }
 
 .Low{
   color:yellow;
 }
 body {
   background-color: lightblue;
   text-align: center;
 }
 .Done {
   text-decoration:line-through;
 }
ul {
  list-style-type:none;
  text-align:center;
}
 #s1{
   background-color: white;
   height:auto;
   width:auto;
 }
