.High {
  color: red;
  display:inline;
}
 .Medium {
   color: orange;
   display:inline;
 }
 
 .Low{
   color:yellow;
   display:inline;
 }
 body {
   background-color: lightblue;
   text-align: center;
 }
