.High {
  color: red;
}
 .Medium {
   color: orange;
 }
 
 .Low{
   color:yellow;
 }
 body {
   background-color: lightblue;
   text-align: center;
 }
 .Done {
   text-decoration:line-through;
   color:green;
 }
ul {
  list-style-type:none;
}
 #s1{
   background-color: white;
   width=50%;
 }
