.s1 {
background-color:red;
color:white;
}
.s2 {
background-color:orange;
color:white;
display:inline;
}
.s3 {
background-color:gray;
color:black;
display:inline;
}
.s4 {
background-color:black;
color:cyan;
display:inline;
}
h2 {
  text-align:center;
  color:white;
}

section  {
  border:5px solid black;
  padding: 1px;
  height:200px;
  width: 300px;
  overflow:auto;
  
  
}


