.s1 {
background-color:red;
color:white;
}
.s2 {
background-color:orange;
color:white;
}
.s3 {
background-color:gray;
color:black;
}
.s4 {
background-color:black;
color:cyan;
}
h2 {
  text-align:center;
  color:white;
}

section  {
  border:5px solid black;
  padding: 1px;
  
}
